@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&family=Ubuntu:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #f3f3f3;
}